# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

IOTV_id1/1.0/com.github.pcbway.PCBWay-Plug-in-for-Kicad_v0.1.3.zip

IOTV_id1/1.0/app.freerouting.kicad-plugin_v1.7.0.zip

IOTV_id1/1.0/com.github.alarm-siren.arduino-kicad-library_v3.0.0.zip

IOTV_id1/1.0/com.github.easyw.kicad-action-tools_v1.0.4.zip

IOTV_id1/1.0/com.github.mitxela.kicad-round-tracks_v1.4.zip
